
 
<footer th:fragment="footerFragment" class="py-5 bg-dark">
	
	<!-- CSS only -->
	<link href="/css/footer.css" rel="stylesheet" />
	
 	<div class="container">
		<div class="text">
			<div>
				<span class="text-white"><a href="">서비스 이용약관</a></span>
				<span class="text-white"><a href="">개인정보 처리방침</a></span>
			</div>

		</div>
		<hr>
		<div class="footer_d">
			<div class="addr">
				<div>서울시 강동구 천호대로 157길 14, 6층(천호동,나비빌딩) 602호 강의실</div>
				<div class="text-white">Copyright &copy; 1st Team Project 2023</div>
			</div>

			
			<div>
				<!-- Default dropup button -->
				<span class="btn-group dropup">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			    유관사이트
				</button>
				<ul class="dropdown-menu">
					<!--  Dropdown menu links -->
					<li><a class="dropdown-item" href="https://korean.visitkorea.or.kr/main/main.do" target="_blank">한국관광공사</a></li>
					<li><a class="dropdown-item" href="http://ch.kjacademy.co.kr/" target="_blank">학원</a></li>
				</ul>
				</span>
			</div>
			
		</div>
 	</div>
</footer>